$sky: #00B8F2;
$navy: #145196;
$dark: #272727;

main {
  .content {
    padding: 120px 0;
  }
  .content > div:nth-child(1) {
    margin-bottom: 120px;
  }
  .categories-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .category {
    margin-bottom: 80px;
    width: fit-content;
  }
  .category-title {
    cursor: pointer;
    margin-bottom: 30px;
  }
  li {
    list-style-type: none;
    margin-top: 20px;
    font-family: Merriweather, sans-serif;
    font-weight: lighter;
    font-size: 18px;
    a {
      text-decoration: underline;
    }
  }
  section#enrichment {
    background: $navy;
    #enrichment-content {
      color: white;
    }
  }
  section#fundamentals {
    #fundamentals-content {
    }
  }
}

@media only screen and (min-width: 600px) {
  .categories-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    .category {
    }
  }
}

@media only screen and (min-width: 850px) {
  .categories-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    width: 100%;
  }
  .title,.subtitle {
    text-align: center;
  }
}
