@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Merriweather:wght@300;400&family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body.nav-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.cta-btn {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Cabin, sans-serif;
  font-weight: bold;
  color: white;
  padding: 15px 25px;
}

.cta-link {
  font-family: Cabin, sans-serif;
  font-weight: bold;
}

h1 {
  font-family: Cabin, sans-serif;
  font-size: 32px;
}

h2 {
  font-family: Cabin, sans-serif;
  font-weight: lighter;
  font-size: 32px;
}

p {
  font-family: Merriweather, serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 150%;
}

.content {
  width: 80%;
  margin: auto;
  padding: 80px 8;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  opacity: 0.8;
}

header {
  z-index: 99;
  width: 100%;
  max-width: 100%;
  background: white;
}
header #header-content {
  padding: 15px 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}
header #logo {
  justify-self: flex-start;
}
header #logo img {
  width: 100%;
}
header nav#desktop-nav {
  display: none;
}
header #login {
  display: none;
}
header #burger {
  z-index: 100;
  width: 25px;
  max-width: 30px;
  min-width: 25px;
  justify-self: flex-end;
  cursor: pointer;
}
header #burger div {
  display: block;
  background: black;
  width: 25px;
  height: 3px;
  will-change: transform;
}
header #burger div:nth-child(1) {
  transform: translate(0, -150%);
}
header #burger div:nth-child(3) {
  transform: translate(0, 150%);
}
header nav#mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
header nav#mobile-nav #mobile-nav-bg {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background: #272727;
}
header nav#mobile-nav #mobile-nav-links {
  position: absolute;
  left: 25%;
  top: 20%;
  height: 60%;
  min-height: 350px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
header nav#mobile-nav #mobile-nav-links a {
  position: relative;
  color: white;
  font-size: 50px;
  font-family: Cabin, sans-serif;
  font-weight: lighter;
  overflow: hidden;
  height: max-content;
}
header nav#mobile-nav #mobile-nav-links a div {
  will-change: transform;
  transform: translate(0, 100%);
}

main {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
main section {
  width: 100%;
}
main .content {
  padding: 80px 0;
  width: 80%;
}
main .leaves {
  display: none;
}
main section#home {
  position: relative;
}
main section#home #video-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
main section#home #video-wrapper video {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-40%, 0);
}
main section#home #home-content {
  display: flex;
  flex-direction: column;
}
main section#home #cta {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  max-width: 500px;
}
main section#home #cta h1 {
  color: white;
  margin-bottom: 40px;
}
main section#home #cta p {
  color: white;
  margin-bottom: 50px;
}
main section#home #cta > div {
  margin-bottom: 100px;
}
main section#home #cta > div #cta-enroll {
  background: #00B8F2;
  color: white;
}
main section#home #cta > div #cta-explore {
  display: inline-block;
  margin-left: 30px;
  color: #00B8F2;
  font-family: Cabin, sans-serif;
  font-weight: bold;
}
main section#home #home-svg {
  display: none;
  margin: 0 !important;
  position: relative;
  align-self: center;
  min-width: 250px;
  max-width: 350px;
  width: 80%;
  display: flex;
  justify-content: center;
}
main section#home #home-svg #phone-svg {
  display: none;
  z-index: 0;
  width: 50%;
  max-width: 125px;
  min-width: 45px;
  position: absolute;
  left: 30px;
  transform: translate(-40%, -10%);
  opacity: 0;
}
main section#home #home-svg #reading-svg {
  display: none;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 250px;
  min-width: 75px;
  transform: translate(40%, 0);
  opacity: 0;
}
main section#acceptances {
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
main section#acceptances #acceptances-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
main section#acceptances h2, main section#acceptances p {
  text-align: center;
}
main section#acceptances #school-grid {
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 350px;
  height: 800px;
  justify-items: center;
  align-items: center;
}
main section#acceptances #school-grid .school {
  display: flex;
  width: 80%;
  height: 80%;
  max-width: 350px;
  max-height: 150px;
  position: relative;
}
main section#acceptances #school-grid .school .front, main section#acceptances #school-grid .school .back {
  will-change: opacity, transform;
  position: absolute;
  width: 100%;
  height: 100%;
}
main section#acceptances #school-grid .school .front {
  opacity: 0;
  transform: translate(5px, 5px);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section#acceptances #school-grid .school .front .school-name {
  font-family: Merriweather, serif;
  font-size: 20px;
}
main section#acceptances #school-grid .school .front .school-count {
  font-family: Cabin, sans-serif;
  font-size: 40px;
  margin: 5px 0;
}
main section#acceptances #school-grid .school .front p {
  font-size: 12px;
}
main section#acceptances #school-grid .school .back {
  opacity: 0;
  transform: translate(0, 0);
}
main section#acceptances #school-grid .school:nth-child(1) .front {
  background: #A51C30;
}
main section#acceptances #school-grid .school:nth-child(1) .back {
  border: 2px solid #A51C30;
}
main section#acceptances #school-grid .school:nth-child(2) .front {
  background: #B31B1B;
}
main section#acceptances #school-grid .school:nth-child(2) .back {
  border: 2px solid #B31B1B;
}
main section#acceptances #school-grid .school:nth-child(3) .front {
  background: #8BB3DA;
}
main section#acceptances #school-grid .school:nth-child(3) .back {
  border: 2px solid #8BB3DA;
}
main section#acceptances #school-grid .school:nth-child(4) .front {
  background: #54301A;
}
main section#acceptances #school-grid .school:nth-child(4) .back {
  border: 2px solid #54301A;
}
main section#acceptances #school-grid .school:nth-child(5) .front {
  background: #B00836;
}
main section#acceptances #school-grid .school:nth-child(5) .back {
  border: 2px solid #B00836;
}
main section#acceptances #school-grid .school:nth-child(6) .front {
  background: #00205B;
}
main section#acceptances #school-grid .school:nth-child(6) .back {
  border: 2px solid #00205B;
}
main section#acceptances #school-grid .school:nth-child(7) .front {
  background: #A80532;
}
main section#acceptances #school-grid .school:nth-child(7) .back {
  border: 2px solid #A80532;
}
main section#acceptances #school-grid .school:nth-child(8) .front {
  background: #00356B;
}
main section#acceptances #school-grid .school:nth-child(8) .back {
  border: 2px solid #00356B;
}
main section#acceptances #school-grid .school:nth-child(n+4):nth-child(-n+8) {
  display: none;
}
main section#acceptances #school-grid #cta-acceptances {
  position: relative;
  display: flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  background: #272727;
}
main section#acceptances #school-grid #cta-acceptances #cap {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(55%, -45%);
  width: 45%;
}
main section#acceptances #school-grid #cta-acceptances #diploma {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-35%, 30%);
  width: 50%;
}
main section#testimonials {
  position: relative;
  background: #145196;
}
main section#testimonials #testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#testimonials #testimonials-content #testimonials-title {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
main section#testimonials #testimonials-content .testimonials {
  display: flex;
  flex-direction: column;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box {
  will-change: opacity;
  opacity: 0;
  padding: 30px;
  border-radius: 3px;
  margin-top: 30px;
  max-width: 375px;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box .pfp-name {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  font-family: Cabin, sans-serif;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box p {
  text-align: left;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box:nth-child(odd) {
  background: #272727;
  color: white;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box:nth-child(odd) p span {
  color: #00B8F2;
  font-weight: bold;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box:nth-child(even) {
  color: black;
  background: white;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box:nth-child(even) p span {
  color: #145196;
  font-weight: bold;
}
main section#testimonials #testimonials-content .testimonials p {
  text-align: center;
}
main section#testimonials #testimonials-content #cta-testimonials {
  position: relative;
  padding: 20px 30px;
  margin-top: 80px;
  color: black;
  background: white;
}
main section#testimonials #testimonials-content #cta-testimonials #branch {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  transform: translate(-60%, 0);
}
main section#testimonials #testimonials-content #cta-testimonials #paper {
  position: absolute;
  width: 30%;
  bottom: 0;
  right: 0;
  transform: translate(55%, 40%);
}
main section#ready {
  position: relative;
  background: #fff;
}
main section#ready img {
  display: none;
}
main section#ready #ready-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#ready #ready-content > div {
  margin-right: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main section#ready #ready-content > div #cta-enroll-bottom {
  background: #00B8F2;
}
main section#ready #ready-content > div #cta-explore-bottom {
  margin-top: 20px;
  color: #00B8F2;
}

footer section#footer-links {
  background: #073062;
  display: flex;
  padding: 20px 0;
  justify-content: center;
}
footer section#footer-links #footer-links-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
footer section#footer-links #footer-links-content a {
  width: fit-content;
  font-size: 16px;
  margin: 10px auto;
  color: white;
  font-family: Cabin, sans-serif;
  font-weight: lighter;
}
footer section#contact {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background: #032246;
}
footer section#contact #contact-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 4fr);
  justify-items: center;
  grid-gap: 20px;
}
footer section#contact #contact-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
footer section#contact #contact-content > div p {
  text-align: center;
  font-family: Cabin, sans-serif;
  color: #b6b6b6;
}
footer section#contact #contact-content > div p span {
  color: #fff;
  font-weight: bolder;
}
footer section#contact #contact-content .number {
  margin-bottom: 50px;
}
footer section#contact #contact-content a {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  section#acceptances #acceptances-content {
    padding-bottom: 80px !important;
  }
  section#acceptances #school-grid {
    min-width: 650px;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  section#acceptances .school:nth-child(4) {
    display: block !important;
  }
  section#acceptances .school:nth-child(5) {
    display: block !important;
  }
}
@media only screen and (min-width: 992px) {
  .leaves {
    display: block !important;
    z-index: 0;
    opacity: 0.7;
    width: 10%;
    position: absolute;
    height: 80%;
    left: 2%;
    top: 50%;
    transform: translate(0, -50%);
  }

  p {
    font-size: 16px;
  }

  h1 {
    white-space: nowrap;
    font-size: 40px;
  }

  .content {
    width: 70%;
  }

  header #mobile-nav, header #burger {
    display: none;
  }
  header #header-content {
    grid-template-columns: 2fr 4fr 1fr;
    max-width: 1200px;
  }
  header #logo img {
    width: 100%;
    min-width: 200px;
  }
  header nav#desktop-nav {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 70px;
    width: 70%;
  }
  header nav#desktop-nav a {
    font-size: 18px;
    font-family: Cabin, sans-serif;
    color: black;
    font-weight: bolder;
  }
  header #login {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    background: #145196;
    color: white;
    width: 100%;
    max-width: 125px;
    font-size: 100%;
    height: 80%;
    max-height: 55px;
    font-size: 20px;
  }

  main section#home {
    overflow: hidden;
    background: none;
    height: 800px;
    display: flex;
    align-items: center;
  }
  main section#home #video-wrapper video {
    transform: translate(0, 0);
  }
  main section#home #home-content {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    align-content: center;
    padding-bottom: 100px;
  }
  main section#home #home-content #cta {
    grid-column: 1/7;
  }
  main section#home #home-content #cta > div {
    margin-bottom: 0;
  }
  main section#home #home-content #home-svg {
    display: block;
    margin: 0 !important;
    position: static;
    transform: translate(0, 10px);
    align-self: center;
    min-width: 350px;
    max-width: 450px;
    width: 100%;
    grid-column: 8/-1;
  }
  main section#home #home-content #home-svg #phone-svg {
    display: block;
    opacity: 0;
    width: 50%;
    max-width: 175px;
    min-width: 100px;
    z-index: -1;
    position: absolute;
    transform: translate(-40%, -10%);
    animation: phoneIn 800ms 300ms ease-out forwards;
  }
  main section#home #home-content #home-svg #reading-svg {
    display: block;
    opacity: 0;
    transform: translate(40%, 0);
    width: 100%;
    max-width: 350px;
    min-width: 200px;
    animation: readingIn 800ms 300ms ease-out forwards;
  }
  main section#acceptances #school-grid {
    max-width: 1000px;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  main section#acceptances #school-grid .school:nth-child(n+4):nth-child(-n+8) {
    display: block;
  }
  main section#testimonials .testimonials .testimonial-box {
    max-width: 600px !important;
  }
  main section#testimonials .testimonials .testimonial-box:nth-child(1) {
    transform: translate(-20%, 0);
  }
  main section#testimonials .testimonials .testimonial-box:nth-child(2) {
    transform: translate(0);
  }
  main section#testimonials .testimonials .testimonial-box:nth-child(3) {
    transform: translate(20%, 0);
  }
  main section#ready img {
    display: block !important;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 25%;
    max-width: 350px;
  }
  main section#ready #ready-content {
    padding: 160px 0;
  }
  main section#ready #ready-content > div {
    margin-top: 80px;
    flex-direction: row;
    align-items: center;
  }
  main section#ready #ready-content > div #cta-explore-bottom {
    margin-top: 0;
    margin-left: 40px;
  }

  footer section#footer-links #footer-links-content {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  footer section#footer-links #footer-links-content a {
    margin: 0;
  }
  footer section#contact #contact-content {
    padding-top: 20px;
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    grid-template-areas: "maddr saddr logo" "mnum  snum  email";
  }
  footer section#contact #contact-content p {
    text-align: left !important;
  }
  footer section#contact #contact-content .address, footer section#contact #contact-content .number {
    justify-self: flex-start;
  }
  footer section#contact #contact-content .address {
    align-self: flex-start;
  }
  footer section#contact #contact-content .number {
    margin-bottom: 0;
    align-self: flex-end;
  }
  footer section#contact #contact-content .manhasset.address {
    grid-area: maddr;
  }
  footer section#contact #contact-content .manhasset.number {
    grid-area: mnum;
  }
  footer section#contact #contact-content .syosset.address {
    grid-area: saddr;
  }
  footer section#contact #contact-content .syosset.number {
    grid-area: snum;
  }
  footer section#contact #contact-content .email {
    grid-area: email;
    align-items: flex-end;
    align-self: flex-end;
    justify-self: flex-end;
  }
  footer section#contact #contact-content .email p:nth-child(2) {
    margin: 0;
  }
  footer section#contact #contact-content #footer-logo-wrapper {
    position: relative;
    grid-area: logo;
    width: 100%;
    height: 100%;
  }
  footer section#contact #contact-content #footer-logo-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@keyframes phoneIn {
  0% {
    opacity: 0;
    transform: translate(-40%, -10%);
  }
  100% {
    opacity: 1;
    transform: translate(-20%, -10%);
  }
}
@keyframes readingIn {
  0% {
    opacity: 0;
    transform: translate(40%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(20%, 0);
  }
}

/*# sourceMappingURL=index.css.map */
