@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Merriweather:wght@300;400&display=swap");
.cta-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cabin, sans-serif;
}
.cta-group .enroll-dropdown {
  z-index: 2;
  position: relative;
  /* this special case repeats the .cta-btn:hover code so that the
     enroll button stays filled when hovering dropdown items */
}
.cta-group .enroll-dropdown .location-list {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 100ms ease-out;
}
.cta-group .enroll-dropdown .location {
  color: black;
  font-weight: bold;
  background: white;
}
.cta-group .enroll-dropdown .location .lower {
  color: white;
}
.cta-group .enroll-dropdown.enroll-dropdown-open .location-list {
  height: 250%;
}
.cta-group .enroll-dropdown.enroll-dropdown-open .cta-enroll .fill-circle {
  width: 180%;
  opacity: 1;
}
.cta-group .enroll-dropdown.enroll-dropdown-open .cta-enroll .upper {
  transform: translate(0, -100%);
  opacity: 0;
}
.cta-group .enroll-dropdown.enroll-dropdown-open .cta-enroll .lower {
  transform: translate(0, 0);
  opacity: 1;
}
.cta-group .cta-enroll {
  background: #00B8F2;
  color: white;
}
.cta-group .cta-explore {
  z-index: 1;
  margin-top: 20px;
  display: block;
  color: #00B8F2;
  font-family: Cabin, sans-serif;
  font-weight: bold;
}
.cta-group .link::after {
  background: #00B8F2;
}

main section#home {
  position: relative;
}
main section#home #video-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
main section#home #video-wrapper video {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-40%, 0);
}
main section#home #home-content {
  display: flex;
  flex-direction: column;
}
main section#home #cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: 500px;
}
main section#home #cta h1 {
  color: white;
  margin-bottom: 40px;
}
main section#home #cta p {
  color: white;
  margin-bottom: 50px;
  max-width: 370px;
}
main section#home #home-svg {
  display: none;
  user-select: none;
  margin: 0 !important;
  position: relative;
  align-self: center;
  min-width: 250px;
  max-width: 350px;
  width: 80%;
  display: flex;
  justify-content: center;
}
main section#home #home-svg #phone-svg {
  display: none;
  z-index: 0;
  width: 50%;
  max-width: 125px;
  min-width: 45px;
  position: absolute;
  left: 30px;
  transform: translate(-40%, -10%);
  opacity: 0;
}
main section#home #home-svg #reading-svg {
  display: none;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 250px;
  min-width: 75px;
  transform: translate(40%, 0);
  opacity: 0;
}
main section#acceptances {
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
main section#acceptances #acceptances-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
main section#acceptances h2, main section#acceptances p {
  text-align: center;
}
main section#acceptances #school-grid {
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 350px;
  height: 800px;
  justify-items: center;
  align-items: center;
}
main section#acceptances #school-grid .school {
  display: flex;
  width: 80%;
  height: 80%;
  max-width: 350px;
  max-height: 150px;
  position: relative;
}
main section#acceptances #school-grid .school .front, main section#acceptances #school-grid .school .back {
  will-change: opacity, transform;
  position: absolute;
  width: 100%;
  height: 100%;
}
main section#acceptances #school-grid .school .front {
  opacity: 0;
  transform: translate(5px, 5px);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section#acceptances #school-grid .school .front .school-name {
  font-family: Merriweather, serif;
  font-size: 20px;
}
main section#acceptances #school-grid .school .front .school-count {
  font-family: Cabin, sans-serif;
  font-size: 40px;
  margin: 5px 0;
}
main section#acceptances #school-grid .school .front p {
  font-size: 12px;
}
main section#acceptances #school-grid .school .back {
  opacity: 0;
  transform: translate(0, 0);
}
main section#acceptances #school-grid .school:nth-child(1) .front {
  background: #A51C30;
}
main section#acceptances #school-grid .school:nth-child(1) .back {
  border: 2px solid #A51C30;
}
main section#acceptances #school-grid .school:nth-child(2) .front {
  background: #8BB3DA;
}
main section#acceptances #school-grid .school:nth-child(2) .back {
  border: 2px solid #8BB3DA;
}
main section#acceptances #school-grid .school:nth-child(3) .front {
  background: #B31B1B;
}
main section#acceptances #school-grid .school:nth-child(3) .back {
  border: 2px solid #B31B1B;
}
main section#acceptances #school-grid .school:nth-child(4) .front {
  background: #54301A;
}
main section#acceptances #school-grid .school:nth-child(4) .back {
  border: 2px solid #54301A;
}
main section#acceptances #school-grid .school:nth-child(5) .front {
  background: #B00836;
}
main section#acceptances #school-grid .school:nth-child(5) .back {
  border: 2px solid #B00836;
}
main section#acceptances #school-grid .school:nth-child(6) .front {
  background: #00205B;
}
main section#acceptances #school-grid .school:nth-child(6) .back {
  border: 2px solid #00205B;
}
main section#acceptances #school-grid .school:nth-child(7) .front {
  background: #A80532;
}
main section#acceptances #school-grid .school:nth-child(7) .back {
  border: 2px solid #A80532;
}
main section#acceptances #school-grid .school:nth-child(8) .front {
  background: #00356B;
}
main section#acceptances #school-grid .school:nth-child(8) .back {
  border: 2px solid #00356B;
}
main section#acceptances #school-grid .school:nth-child(n+4):nth-child(-n+8) {
  display: none;
}
main section#acceptances #school-grid #cta-acceptances {
  padding: 20px 30px;
  background: #272727;
  border: 2px solid #272727;
}
main section#acceptances #school-grid #cta-acceptances #cap {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(55%, -45%);
  width: 45%;
}
main section#acceptances #school-grid #cta-acceptances #diploma {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-35%, 30%);
  width: 50%;
}
main section#acceptances #school-grid #cta-acceptances .fill-circle {
  background: white;
}
main section#acceptances #school-grid #cta-acceptances .lower {
  color: black;
}
main section#testimonials {
  position: relative;
  background: #145196;
}
main section#testimonials #testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#testimonials #testimonials-content #testimonials-title {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
main section#testimonials #testimonials-content .testimonials {
  display: flex;
  flex-direction: column;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box {
  will-change: opacity;
  opacity: 0;
  padding: 30px;
  border-radius: 3px;
  margin-top: 30px;
  max-width: 375px;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box .pfp-name {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  font-family: Cabin, sans-serif;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box p {
  text-align: left;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box:nth-child(odd) {
  background: #272727;
  color: white;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box:nth-child(odd) p span {
  color: #00B8F2;
  font-weight: bold;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box:nth-child(even) {
  color: black;
  background: white;
}
main section#testimonials #testimonials-content .testimonials .testimonial-box:nth-child(even) p span {
  color: #145196;
  font-weight: bold;
}
main section#testimonials #testimonials-content .testimonials p {
  text-align: center;
}
main section#testimonials #testimonials-content #cta-testimonials {
  padding: 20px 30px;
  margin-top: 80px;
  color: black;
  background: white;
}
main section#testimonials #testimonials-content #cta-testimonials #branch {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  transform: translate(-60%, 0);
}
main section#testimonials #testimonials-content #cta-testimonials #paper {
  position: absolute;
  width: 30%;
  bottom: 0;
  right: 0;
  transform: translate(55%, 40%);
}
main section#testimonials #testimonials-content #cta-testimonials .lower {
  color: white;
}
main section#ready {
  position: relative;
  background: #fff;
}
main section#ready img {
  display: none;
}
main section#ready #ready-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#ready #ready-content .cta-group {
  margin-top: 50px;
}
main section#ready #ready-content .cta-enroll {
  background: #145196;
}
main section#ready #ready-content .location {
  border: 1px solid black;
}
main section#ready #ready-content .cta-explore {
  color: #145196;
}
main section#ready #ready-content .link::after {
  background: #145196;
}

@media only screen and (min-width: 768px) {
  section#acceptances #acceptances-content {
    padding-bottom: 80px !important;
  }
  section#acceptances #school-grid {
    min-width: 650px;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  section#acceptances .school:nth-child(4) {
    display: block !important;
  }
  section#acceptances .school:nth-child(5) {
    display: block !important;
  }
}
@media only screen and (min-width: 992px) {
  .leaves {
    display: block !important;
    z-index: 0;
    opacity: 0.7;
    width: 10%;
    position: absolute;
    height: 80%;
    left: 2%;
    top: 50%;
    transform: translate(0, -50%);
  }

  p {
    font-size: 16px;
  }

  h1 {
    white-space: nowrap;
    font-size: 40px;
  }

  .content {
    width: 70%;
  }

  .cta-group {
    flex-direction: row;
  }
  .cta-group .cta-explore {
    margin-top: 0;
    margin-left: 40px;
  }

  main section#home {
    overflow: hidden;
    background: none;
    height: 800px;
    display: flex;
    align-items: center;
  }
  main section#home #video-wrapper video {
    transform: translate(0, 0);
  }
  main section#home #home-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    align-content: center;
    padding-bottom: 100px;
  }
  main section#home #home-content #cta {
    grid-column: 1/7;
    align-items: flex-start;
    text-align: left;
  }
  main section#home #home-content #home-svg {
    display: block;
    margin: 0 !important;
    position: static;
    transform: translate(0, 10px);
    align-self: center;
    min-width: 350px;
    max-width: 450px;
    width: 100%;
    grid-column: 8/-1;
  }
  main section#home #home-content #home-svg #phone-svg {
    display: block;
    opacity: 0;
    width: 50%;
    max-width: 175px;
    min-width: 100px;
    z-index: -1;
    position: absolute;
    transform: translate(-40%, -10%);
    animation: phoneIn 800ms 300ms ease-out forwards;
  }
  main section#home #home-content #home-svg #reading-svg {
    display: block;
    opacity: 0;
    transform: translate(40%, 0);
    width: 100%;
    max-width: 350px;
    min-width: 200px;
    animation: readingIn 800ms 300ms ease-out forwards;
  }
  main section#acceptances #school-grid {
    min-width: 100%;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  main section#acceptances #school-grid .school:nth-child(n+4):nth-child(-n+8) {
    display: block;
  }
  main section#testimonials .testimonials .testimonial-box {
    max-width: 600px !important;
  }
  main section#testimonials .testimonials .testimonial-box:nth-child(1) {
    transform: translate(-20%, 0);
  }
  main section#testimonials .testimonials .testimonial-box:nth-child(2) {
    transform: translate(0);
  }
  main section#testimonials .testimonials .testimonial-box:nth-child(3) {
    transform: translate(20%, 0);
  }
  main section#ready img {
    display: block !important;
    user-select: none;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 25%;
    max-width: 350px;
  }
  main section#ready #ready-content {
    padding: 160px 0;
  }
  main section#ready #ready-content .cta-group {
    margin-top: 80px;
  }
}
@keyframes phoneIn {
  0% {
    opacity: 0;
    transform: translate(-40%, -10%);
  }
  100% {
    opacity: 1;
    transform: translate(-20%, -10%);
  }
}
@keyframes readingIn {
  0% {
    opacity: 0;
    transform: translate(40%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(20%, 0);
  }
}

/*# sourceMappingURL=index.css.map */
