@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Undone by JS */
  opacity: 0;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

body.mobile-nav-open {
  overflow: hidden;
}

.stretch-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.stretch-wrapper main section, .stretch-wrapper main .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  margin: auto;
  padding: 120px 0;
  max-width: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.cta-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather", serif;
}
.cta-group .cta-enroll {
  z-index: 2;
  position: relative;
  background: #00B8F2;
  color: white;
}
.cta-group .cta-explore {
  z-index: 1;
  margin-top: 30px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: normal !important;
  color: #00B8F2;
}

.cta-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  user-select: none;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  color: white;
  padding: 12px 20px;
}
.cta-btn .fill-wrapper {
  z-index: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cta-btn .fill-wrapper .fill {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 250%;
  background: #272727;
  width: 0;
  opacity: 0;
  will-change: width, opacity;
  transition: width 200ms ease-out, opacity 200ms ease-out;
}
.cta-btn span {
  display: block !important;
  z-index: 1 !important;
  will-change: transform, opacity;
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}
.cta-btn .lower {
  position: absolute;
  transform: translate(0, 100%);
  opacity: 0;
}

.cta-btn:hover .fill {
  width: 180%;
  opacity: 1;
}
.cta-btn:hover .upper {
  transform: translate(0, -100%);
  opacity: 0;
}
.cta-btn:hover .lower {
  transform: translate(0, 0);
  opacity: 1;
}

.link {
  position: relative;
  font-family: "Roboto", sans-serif;
}
.link::after {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background: black;
  margin-top: 0px;
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0;
  will-change: transform, opacity;
  transition: transform 200ms ease-out, opacity 200ms linear;
}

.link:hover::after {
  opacity: 1;
  transform-origin: left;
  transform: scaleX(1);
}

h1 {
  font-family: "Merriweather", serif;
  font-size: clamp(40px, 5vw, 50px);
  font-weight: lighter;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: lighter;
  font-size: 32px;
}

h3 {
  font-family: "Merriweather", serif;
  font-weight: lighter;
  font-size: 28px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 150%;
}

.subtitle {
  font-size: 14px;
  opacity: 0.8;
}

.huge {
  z-index: -1;
  user-select: none;
  position: absolute;
  font-size: 200px;
  top: 0;
  left: 0;
  transform: translateY(-40px);
  opacity: 0.015;
  white-space: nowrap;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #272727;
}
header .content {
  width: 80%;
  max-width: 1800px;
  padding: 15px 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo img {
  user-select: none;
  width: 80%;
}
header nav#desktop-nav {
  display: none;
}
header #login {
  display: none;
}
header #burger {
  z-index: 100;
  user-select: none;
  width: 25px;
  max-width: 30px;
  min-width: 25px;
  justify-self: flex-end;
  cursor: pointer;
}
header #burger div {
  display: block;
  background: white;
  width: 25px;
  height: 2px;
  will-change: transform;
}
header #burger div:nth-child(1) {
  transform: translate(0, -300%);
}
header #burger div:nth-child(3) {
  transform: translate(0, 300%);
}
header nav#mobile-nav {
  display: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
header nav#mobile-nav #mobile-nav-bg {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background: #272727;
}
header nav#mobile-nav #mobile-nav-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  min-height: 350px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
header nav#mobile-nav #mobile-nav-links a {
  position: relative;
  color: white;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  overflow: hidden;
  height: max-content;
}
header nav#mobile-nav #mobile-nav-links a div {
  will-change: transform;
  transform: translate(0, 100%);
}

main {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

footer section#footer-links {
  background: #073062;
  display: flex;
  justify-content: center;
}
footer section#footer-links .content {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
footer section#footer-links .content .link {
  width: fit-content;
  font-size: 16px;
  margin: 10px auto;
  color: white;
}
footer section#footer-links .content .link::after {
  background: white;
}
footer section#contact {
  display: flex;
  justify-content: center;
  background: #032246;
}
footer section#contact .content {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 20px;
}
footer section#contact .content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
footer section#contact .content > div p {
  text-align: center;
  color: #b6b6b6;
}
footer section#contact .content > div p span {
  color: #fff;
  font-weight: bolder;
}
footer section#contact .content .number {
  margin-bottom: 50px;
}
footer section#contact .content a {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media only screen and (min-width: 992px) {
  h1 {
    white-space: nowrap;
  }

  #cta h1, #cta p {
    text-align: left !important;
  }

  .cta-group {
    flex-direction: row;
    align-items: center !important;
  }
  .cta-group .cta-explore {
    margin-top: 0;
    margin-left: 40px !important;
  }
  .cta-group .cta-explore::after {
    background: #00B8F2;
  }

  header #mobile-nav, header #burger {
    display: none;
  }
  header nav#desktop-nav {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    width: fit-content;
  }
  header nav#desktop-nav .link {
    font-size: 16px;
    color: white;
    margin-right: 20px;
  }
  header nav#desktop-nav .link::after {
    background: white;
  }
  header #logo img {
    width: 90%;
  }
  header #login {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    background: #00B8F2;
    color: white;
    width: 100%;
    font-size: 100%;
    font-size: 20px;
  }
  header #login .fill {
    background: white;
  }
  header #login .lower {
    color: black;
  }

  footer section#footer-links .content {
    max-width: 1000px;
    display: flex !important;
    justify-content: space-between;
    grid-gap: 20px;
  }
  footer section#footer-links .content a {
    margin: 0 !important;
  }
  footer section#contact .content {
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    grid-template-areas: "maddr saddr logo" "mnum  snum  email";
  }
  footer section#contact .content p {
    text-align: left !important;
  }
  footer section#contact .content .address, footer section#contact .content .number {
    justify-self: flex-start;
  }
  footer section#contact .content .address {
    align-self: flex-start;
  }
  footer section#contact .content .number {
    margin-bottom: 0 !important;
    align-self: flex-end;
  }
  footer section#contact .content .manhasset.address {
    grid-area: maddr;
  }
  footer section#contact .content .manhasset.number {
    grid-area: mnum;
  }
  footer section#contact .content .syosset.address {
    grid-area: saddr;
  }
  footer section#contact .content .syosset.number {
    grid-area: snum;
  }
  footer section#contact .content .email {
    grid-area: email;
    align-items: flex-end;
    align-self: flex-end;
    justify-self: flex-end;
  }
  footer section#contact .content .email p:nth-child(2) {
    margin: 0;
  }
  footer section#contact .content #footer-logo-wrapper {
    position: relative;
    grid-area: logo;
    width: 100%;
    height: 100%;
  }
  footer section#contact .content #footer-logo-wrapper img {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
  }
}

/*# sourceMappingURL=master.css.map */
