@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto:wght@300;400&display=swap');
$sky: #00B8F2;
$navy: #145196;
$dark: #272727;
$sans: "Roboto", sans-serif;
$serif: "Merriweather", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Undone by JS */
  opacity: 0;
}

html,body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body.mobile-nav-open {
  overflow: hidden;
}

.content {
  width: 80%;
  margin: auto;
  padding: 120px 0;
  max-width: 1000px;
}

.barba-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
    display: flex !important;
    flex-direction: column;
    section,.content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
.cta-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $serif;
  .enroll-dropdown {
    z-index: 2;
    position: relative;
    .location-list {
      position: absolute;
      height: 0;
      overflow: hidden;
      transition: height 100ms ease-out;
    }
    .location {
      color: black;
      background: white;
      span {
        margin-left: 12px;
      }
      .lower {
        color: white;
      }
    }
    .location.cta-btn {
      justify-content: flex-start;
    }

    /* this special case repeats the .cta-btn:hover code so that the
       enroll button stays filled when hovering dropdown items */
    &.enroll-dropdown-open {
      .location-list {
        height: 350%;
      }
      .cta-enroll {
        .fill {
          width: 180%;
          opacity: 1;
        }
        .upper {
          transform: translate(0, -100%);
          opacity: 0;
        }
        .lower {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
    }
  }
  .cta-enroll {
    background: $sky;
    color: white;
  }
  .cta-explore {
    z-index: 1;
    margin-top: 30px;
    display: block;
    font-family: $sans;
    font-weight: normal !important;
    color: $sky;
  }
}
.cta-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  user-select: none;
  text-align: center;
  justify-content: center;
  font-family: $sans;
  font-size: 16px !important;
  color: white;
  padding: 12px 20px;
  .fill-wrapper {
    z-index: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .fill {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 250%;
      background: $dark;
      width: 0;
      opacity: 0;
      will-change: width, opacity;
      transition: width 200ms ease-out, opacity 200ms ease-out;
    }
  }
  span {
    display: block !important;
    z-index: 1 !important;
    will-change: transform, opacity;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
  }
  .lower {
    position: absolute;
    transform: translate(0, 100%);
    opacity: 0;
  }
}
.cta-btn:hover {
  .fill {
    width: 180%;
    opacity: 1;
  }
  .upper {
    transform: translate(0, -100%);
    opacity: 0;
  }
  .lower {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.link {
  position: relative;
  font-family: $sans;
  &::after {
    position: absolute;
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background: black;
    margin-top: 2px;
    transform: scaleX(0);
    transform-origin: right;
    will-change: transform, opacity;
    transition: transform 200ms ease-out, opacity 200ms linear;
  }
}
.link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
h1 {
  font-family: $serif;
  font-size: clamp(30px, 5vw, 50px);
  font-weight: lighter;
}
h2 {
  font-family: $serif;
  font-weight: lighter;
  font-size: 32px;
}
h3 {
  font-family: $serif;
  font-weight: lighter;
  font-size: 28px;
}
p {
  font-family: $sans;
  font-size: 18px;
  line-height: 150%;
}
.subtitle {
  font-size: 14px;
  opacity: 0.8;
}
.huge {
  z-index: -1;
  user-select: none;
  position: absolute;
  font-size: 200px;
  top: 0;
  left: 0;
  transform: translateY(-40px);
  opacity: 0.015;
  white-space: nowrap;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: $dark;
  #header-content {
    width: 80%;
    max-width: 1800px;
    padding: 15px 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #logo {
    img {
      user-select: none;
      width: 80%;
    }
  }
  nav#desktop-nav {
    display: none;
  }
  #login {
    display: none;
  }
  #burger {
    z-index: 100;
    user-select: none;
    width: 25px;
    max-width: 30px;
    min-width: 25px;
    justify-self: flex-end;
    cursor: pointer;
    div {
      display: block;
      background: white;
      width: 25px;
      height: 2px;
      will-change: transform;
      &:nth-child(1) {
        transform: translate(0, -300%);
      }
      &:nth-child(3) {
        transform: translate(0, 300%);
      }
    }
  }
  nav#mobile-nav {
    display: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    #mobile-nav-bg {
      opacity: 0;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
      background: $dark;
    }
    #mobile-nav-links {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 60%;
      min-height: 350px;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      a {
        position: relative;
        color: white;
        font-size: 50px;
        font-family: $sans;
        font-weight: lighter;
        overflow: hidden;
        height: max-content;
        div {
          will-change: transform;
          transform: translate(0, 100%);
        }
      }
    }
  }
}

main {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  .leaves {
    display: none;
    user-select: none;
  }
}
main#main-home {
  section#home {
    position: relative;
    height: clamp(650px, 90vh, 850px);
    #home-content {
      padding-top: 180px;
    }
    #video-wrapper {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      video {
        position: relative;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-40%, 0);
      }
    }
    #cta {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: auto;
      max-width: 500px;
      h1,p {
        text-align: center;
        color: white;
        will-change: transform, opacity;
        margin-bottom: 60px;
      }
    }
  }
  section#acceptances {
    overflow-x: hidden;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    #acceptances-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;
    }
    h2,p {
      text-align: center;
    }
    #school-grid {
      margin-top: 50px;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr;
      width: 100%;
      max-width: 350px;
      height: 800px;
      justify-items: center;
      align-items: center;
      .school {
        display: flex;
        width: 80%;
        height: 80%;
        max-width: 350px;
        max-height: 150px;
        position: relative;
        .front,.back {
          will-change: opacity, transform;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        .front {
          transform: translate(5px, 5px);
          color: white;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .school-name {
            font-family: $sans;
            font-size: 20px;
          }
          .school-count {
            font-family: $serif;
            font-size: 40px;
            margin: 5px 0;
          }
          p {
            font-size: 12px;
          }
        }
        .back {
          transform: translate(-5px, -5px);
        }
        $schoolColors: #A51C30, #8BB3DA, #B31B1B, #54301A, #B00836, #00205B, #A80532, #00356B;
        @for $i from 1 through 8 {
          &:nth-child(#{$i}) {
            .front { background: nth($schoolColors, $i)}
            .back { border: 2px solid nth($schoolColors, $i)}
          }
        }
        &:nth-child(n+4):nth-child(-n+8) {
          display: none;
        }
      }
      #cta-acceptances {
        padding: 20px 30px;
        background: $dark;
        border: 2px solid $dark;
        #cap {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(55%, -45%);
          width: 45%;
        }
        #diploma {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translate(-35%, 30%);
          width: 50%;
        }
        .fill {
          background: white;
        }
        .lower {
          color: black;
        }
      }
    }
  }
  section#testimonials {
    overflow-x: hidden;
    position: relative;
    background: $navy;
    .huge {
      color: white;
      z-index: 0;
      opacity: 0.03;
      transform: translateY(0);
    }
    #testimonials-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      #testimonials-title {
        z-index: 1;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
      }
      .testimonials {
        display: flex;
        flex-direction: column;
        .testimonial-box {
          will-change: opacity;
          padding: 30px;
          margin-top: 30px;
          max-width: 375px;
          .pfp-name {
            margin-bottom: 20px;
            font-size: 20px;
            text-align: center;
            font-family: $sans;
          }
          p {
            text-align: left;
          }
        }
        .testimonial-box:nth-child(odd) {
          background: $dark;
          color: white;
          p span {
            color: $sky;
            font-weight: bold;
          }
        }
        .testimonial-box:nth-child(even) {
          color: black;
          background: white;
          p span {
            color: $navy;
            font-weight: bold;
          }
        }
        p {
          text-align: center;
        }
      }
      #cta-testimonials {
        padding: 20px 30px;
        margin-top: 80px;
        color: black;
        background: white;
        #branch {
          position: absolute;
          width: 30%;
          top: 0;
          left: 0;
          transform: translate(-60%, 0);
        }
        #paper {
          position: absolute;
          width: 30%;
          bottom: 0;
          right: 0;
          transform: translate(55%, 40%);
        }
        .lower {
          color: white;
        }
      }
    }
  }
  section#ready {
    position: relative;
    background: #fff;
    img {
      display: none;
    }
    #ready-content {
      text-align: center;
      .title {
        position: relative;
      }
      .title #underline {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        transform-origin: left;
        transform: scaleX(0);
        height: 3px;
        background: black;
      }
      .cta-group {
        margin-top: 50px;
      }
      .cta-enroll {
        background: $navy;
      }
      .location {
        border: 1px solid black;
      }
      .cta-explore {
        color: $navy;
      }
      .link::after {
        background: $navy;
      }
    }
  }
}
main#main-courses {
  .categories-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
  }
  .category {
    margin-bottom: 80px;
    width: fit-content;
  }
  .category-title {
    margin-bottom: 30px;
    text-decoration: underline;
  }
  li {
    list-style-type: none;
    margin-top: 20px;
    font-family: $sans;
    font-size: 18px;
  }
  section#courses-ready {
    position: relative;
    background: $navy;
    #ready-content {
      display: flex;
      text-align: center;
      padding-top: 180px;
      .title {
        position: relative;
        h2,p {
          color: white !important;
        }
      }
      .title #underline {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        transform-origin: left;
        transform: scaleX(0);
        height: 3px;
        background: white;
      }
      .subtitle {
        margin-top: 10px;
      }
      .cta-group {
        margin-top: 50px;
      }
      .location {
        border: 1px solid black;
      }
      .cta-explore {
        color: $sky;
      }
      .link::after {
        background: $sky;
      }
    }
  }
  section#enrichment {
    background: white;
    #enrichment-content {
      color: $navy;
    }
  }
  section#fundamentals {
    background: $navy;
    color: white;
    .cta-btn {
      margin-top: 20px;
      background: white;
    }
    .fill {
      background: $dark;
    }
    .upper {
      color: black;
    }
    .lower {
      color: white;
    }
  }
  .category {
    text-align: center;
  }
  .title {
    text-align: center;
  }
  .categories-container {
    align-items: center;
  }
}
main#main-about {
  #about-content {
    width: 70%;
    max-width: 600px;
    padding-top: 180px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      margin-bottom: 80px;
    }
    .cta-btn {
      margin-top: 80px;
      background: $dark;
      border: 2px solid $dark;
    }
    .cta-btn .fill {
      background: white;
    }
    .lower {
      color: black;
    }
  }
}
footer {
  section#footer-links {
    background: #073062;
    display: flex;
    justify-content: center;
    #footer-links-content {
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      .link {
        width: fit-content;
        font-size: 16px;
        margin: 10px auto;
        color: white;
        &::after {
          background: white;
        }
      }
    }
  }
  section#contact {
    display: flex;
    justify-content: center;
    background: #032246;
    #contact-content {
      padding: 40px 0;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      grid-gap: 20px;
      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        p {
          text-align: center;
          color: rgb(182, 182, 182);
          span {
            color: #fff;
            font-weight: bolder;
          }
        }
      }
      .number {
        margin-bottom: 50px;
      }
      a {
        display: flex;
        justify-content: center;
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  #main-courses {
    #enrichment,#fundamentals {
      .content {
        align-items: center !important;
      }
    }
    .category {
      text-align: left !important;
    }
    .categories-container {
      display: grid !important;
      align-items: flex-start !important;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: column;
      grid-row-gap: 10px;
      grid-column-gap: 50px;
    }
  }
}
@media only screen and (min-width: 768px) {
  main#main-home {
    section#acceptances {
      #school-grid {
        min-width: 650px;
        grid-template-rows: repeat(3, 1fr) !important;
        grid-template-columns: repeat(2, 1fr) !important;
      }
      .school:nth-child(4) {
        display: block !important;
      }
      .school:nth-child(5) {
        display: block !important;
      }
    }
  }
}
@media only screen and (min-width: 850px) {
  main#main-courses {
    .categories-container {
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between;
      width: 100%;
    }
    .title,.subtitle {
      text-align: center;
    }
  }
}
@media only screen and (min-width: 992px) {
  .leaves {
    display: block !important;
    z-index: 0;
    opacity: 0.7;
    width: 10%;
    position: absolute;
    height: 80%;
    left: 2%;
    top: 50%;
    transform: translate(0, -50%);
  }
  h1 {
    white-space: nowrap;
  }
  #cta h1,#cta p {
    text-align: left !important;
  }
  .cta-group {
    flex-direction: row;
    align-items: center !important;
    .cta-explore {
      margin-top: 0;
      margin-left: 40px !important;
      &::after {
        background: $sky;
      }
    }
  }
  header {
    #mobile-nav,#burger {
      display: none;
    }
    nav#desktop-nav {
      display: flex;
      align-items: center;
      justify-self: flex-end;
      width: fit-content;
      .link {
        font-size: 16px;
        color: white;
        margin-right: 20px;
      }
      .link::after {
        background: white;
      }
    }
    #logo img {
      width: 90%;
    }
    #login {
      display: flex;
      flex-direction: row;
      color: black;
      justify-content: center;
      justify-self: flex-end;
      align-items: center;
      background: $sky;
      color: white;
      width: 100%;
      font-size: 100%;
      font-size: 20px;
      .fill {
        background: white;
      }
      .lower {
        color: black;
      }
    }
  }
  main#main-home {
    section#home {
      overflow: hidden;
      background: none;
      display: flex;
      align-items: center;
      #video-wrapper video {
        transform: translate(0, 0);
      }
      #home-content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 12px;
        align-content: center;
        #cta {
          grid-column: 1 / 7;
          align-items: flex-start;
          text-align: left;
        }
        #home-svg {
          display: block;
          margin: 0 !important;
          position: static;
          transform: translate(0, 10px);
          align-self: center;
          min-width: 350px;
          max-width: 450px;
          width: 100%;
          grid-column: 8 / -1;
          #phone-svg {
            display: block;
            opacity: 0;
            width: 50%;
            max-width: 175px;
            min-width: 100px;
            z-index: -1;
            position: absolute;
            transform: translate(-40%, -10%);
            animation: phoneIn 800ms 300ms ease-out forwards;
          }
          #reading-svg {
            display: block;
            opacity: 0;
            transform: translate(40%, 0);
            width: 100%;
            max-width: 350px;
            min-width: 200px;
            animation: readingIn 800ms 300ms ease-out forwards;
          }
        }
      }
    }
    section#acceptances {
      #school-grid {
        min-width: 100%;
        grid-template-rows: repeat(3, 1fr) !important;
        grid-template-columns: repeat(3, 1fr) !important;
        .school {
          &:nth-child(n+4):nth-child(-n+8) {
            display: block;
          }
        }
      }
    }
    section#testimonials {
      .testimonials {
        .testimonial-box {
          max-width: 600px !important;
          &:nth-child(1) {
            transform: translate(-20%, 0);
          }
          &:nth-child(2) {
            transform: translate(0);
          }
          &:nth-child(3) {
            transform: translate(20%, 0);
          }
        }
      }
    }
    section#ready {
      img {
        display: block !important;
        user-select: none;
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 25%;
        max-width: 350px;
      }
    }
  }
  footer {
    section#footer-links {
      #footer-links-content {
        max-width: 1000px;
        display: flex !important;
        justify-content: space-between;
        grid-gap: 20px;
        a {
          margin: 0 !important;
        }
      }
    }
    section#contact {
      #contact-content {
        max-width: 1000px;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;
        grid-template-areas:
        "maddr saddr logo"
        "mnum  snum  email";
        p {
          text-align: left !important;
        }
        .address,.number {
          justify-self: flex-start;
        }
        .address {
          align-self: flex-start;
        }
        .number {
          margin-bottom: 0 !important;
          align-self: flex-end;
        }
        .manhasset.address {
          grid-area: maddr;
        }
        .manhasset.number {
          grid-area: mnum;
        }
        .syosset.address {
          grid-area: saddr;
        }
        .syosset.number {
          grid-area: snum;
        }
        .email {
          grid-area: email;
          align-items: flex-end;
          align-self: flex-end;
          justify-self: flex-end;
          p:nth-child(2) {
            margin: 0;
          }
        }
        #footer-logo-wrapper {
          position: relative;
          grid-area: logo;
          width: 100%;
          height: 100%;
          img {
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}
